.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom,#5463f3 0%,#e2e5fd 100%);
}

label {
    display: inline-block;
    background-color: #fff;
    height: 20px;
    border-radius: 1px;
}

.upload__container {
    width: 35vw;
    margin: 0 auto;
}

.upload {
    position: relative;
    width: 30vw;
}

.upload__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upload__file {
    visibility: hidden;
    width: 100px;
}

.play__button {
    position: absolute;
    background-color: gainsboro;
    border: none;
    height: 20px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left: -5px;
    width: 5vw;
}

body {
    height: 100vh;
    width: 100vw;
}

form {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}